<!-- Banner: -->
<img class="banner" src="https://i.imgur.com/8y2Hwm9.jpg" alt="">

<!-- About: -->
<div class="tag">
    <img class="photo" src="https://i.imgur.com/TRbXNzO.jpg" alt="">

    <div class="about">
        <h1>Marcelo Nicolás Echenique</h1>
        <h5>Full Stack Developer Jr</h5>
        <p>
            Descubrí el mundo de la Programación gracias a Argentina Programa. Tras esto estoy enfocado en realizar proyectos a modo de reforzar mis habilidades y conocimientos respecto a sus áreas.
        </p>
    </div>          
</div>