<!-- Educacion: -->
<div class="tag fix space">
    <h2>Educacion</h2>
    <div class="border tag-edu">
        <img class="edu-logo" src="https://i.imgur.com/xadLHh0.jpg" alt="">
        <h3>E.E.S. Nº9: César Raffo</h3>
        <h4>Título: Bachiller en comunicacion</h4>
        <h5>2008-2018</h5>
    </div>
    <h3>Cursos</h3>
    <div class="border tag-edu">
        <img class="edu-logo" src="https://i.imgur.com/L2ubVpf.jpg" alt="">
        <h3>Argentina Programa #SéProgramar</h3>
        <h4>Mumuki</h4>
        <h5>Octubre - Diciembre 2021</h5>
    </div>
</div>   