<!-- Experiencia Laboral -->
<div class="tag fix space">
    <h2>Experiencia Laboral</h2>
    <div class="border exp tag-edu">
        <h4>
            Actualmente sin experiencia laboral.
        </h4>
        <p>
            Me tardé en terminar la secundaria (4 años repetidos, pero sin dejar de asistir) asunto que me permitió madurar internamente (fui quien más hablaba con los profesores de la secundaria, por ejemplo) a su vez desarrollar un mejor enfoque al estudio, terminando los últimos años con mejores notas y ánimos que en los primeros. Tras esta etapa concluida, 2019 fue un año complicado para el Empleo en el país y ya 2020, con el inicio de la pandemia, mayor complicación. En todo esto surgió el curso Argentina Programa, dando mis primeros pasos con la programación con la cual me siento muy cómodo y motivado a seguir emprendiendo.
        </p>
    </div>
</div>