<header>
    <!-- Nav: -->
    <div class="nav">
        <img class="ap-logo" src="https://i.imgur.com/OxKKUfp.png" alt="">
        <nav>
            <a href="https://www.linkedin.com/in/marcelo-nicolas-echenique-26113222a/" target="_blank"><i class="fa-brands fa-linkedin fa-2x"></i></a>
            <a href="https://github.com/Echo0005" target="_blank"><i class="fa-brands fa-square-github fa-2x"></i></a>   
  
            <a href="./assets/html/login.html">Login</a>
        </nav>
    </div>
  </header>