<header>
  <!-- Nav: -->
  <div class="nav">
      <img class="ap-logo" src="https://i.imgur.com/OxKKUfp.png" alt="">
      <nav>
          <a href="https://www.linkedin.com/in/marcelo-nicolas-echenique-26113222a/" target="_blank"><i class="fa-brands fa-linkedin fa-2x"></i></a>
          <a href="https://github.com/Echo0005" target="_blank"><i class="fa-brands fa-square-github fa-2x"></i></a>   

          <a href="./assets/html/login.html">Login</a>
      </nav>
  </div>
</header>
<section>

  <!-- Banner: -->
  <img class="banner" src="https://i.imgur.com/8y2Hwm9.jpg" alt="">

  <!-- About: -->
  <div class="tag">
      <img class="photo" src="https://i.imgur.com/TRbXNzO.jpg" alt="">

      <div class="about">
          <h1>Marcelo Nicolás Echenique</h1>
          <h5>Full Stack Developer Jr</h5>
          <p>
              Descubrí el mundo de la Programación gracias a Argentina Programa. Tras esto estoy enfocado en realizar proyectos a modo de reforzar mis habilidades y conocimientos respecto a sus áreas.
          </p>
      </div>          
  </div>

  <div class="tag fix space">
      <h2>Experiencia Laboral</h2>
      <div class="border exp tag-edu">
          <h4>
              Actualmente sin experiencia laboral.
          </h4>
          <p>
              Me tardé en terminar la secundaria (4 años repetidos, pero sin dejar de asistir) asunto que me permitió madurar internamente (fui quien más hablaba con los profesores de la secundaria, por ejemplo) a su vez desarrollar un mejor enfoque al estudio, terminando los últimos años con mejores notas y ánimos que en los primeros. Tras esta etapa concluida, 2019 fue un año complicado para el Empleo en el país y ya 2020, con el inicio de la pandemia, mayor complicación. En todo esto surgió el curso Argentina Programa, dando mis primeros pasos con la programación con la cual me siento muy cómodo y motivado a seguir emprendiendo.
          </p>
      </div>
  </div>

  <!-- Educacion: -->
  <div class="tag fix space">
      <h2>Educacion</h2>
      <div class="border tag-edu">
          <img class="edu-logo" src="https://i.imgur.com/xadLHh0.jpg" alt="">
          <h3>E.E.S. Nº9: César Raffo</h3>
          <h4>Título: Bachiller en comunicacion</h4>
          <h5>2008-2018</h5>
      </div>
      <h3>Cursos</h3>
      <div class="border tag-edu">
          <img class="edu-logo" src="https://i.imgur.com/L2ubVpf.jpg" alt="">
          <h3>Argentina Programa #SéProgramar</h3>
          <h4>Mumuki</h4>
          <h5>Octubre - Diciembre 2021</h5>
      </div>
  </div>        

  <div class="tag fix space">
      <h2>Skills</h2>
     
      <div class="skill">
          <h4>Soft</h4>

          <p>
              Proactividad
              <br>
              Adaptabilidad
              <br>
              Resolución de problemas
              <br>
              Trabajo en equipo
              <br>
              Capacidad de liderazgo
              <br>
              Flexibilidad                    
          </p>
      </div>

      
      <div class="flex skill">
          <h4>Hard</h4>

          <div class="progress">
              <div class="progress-bar border" role="progressbar" aria-valuenow="50"
                  aria-valuemin="0" aria-valuemax="100" style="width:80%">
                  Git
              </div>
          </div>

          <div class="progress">
              <div class="progress-bar border" role="progressbar" aria-valuenow="50"
                  aria-valuemin="0" aria-valuemax="100" style="width:77%">
                  Github
              </div>
          </div>  
           
          <div class="progress">
              <div class="progress-bar border" role="progressbar" aria-valuenow="50"
                  aria-valuemin="0" aria-valuemax="100" style="width:85%">
                  HTML
              </div>
          </div>  

             
          <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="50"
                  aria-valuemin="0" aria-valuemax="100" style="width:50%">
                  CSS
              </div>
          </div>  
          
          <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="50"
                  aria-valuemin="0" aria-valuemax="100" style="width:20%">
                  JavaScript
              </div>
          </div>

          <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="50"
                  aria-valuemin="0" aria-valuemax="100" style="width:40%">
                  Angular
              </div>
          </div>   

          <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="50"
                  aria-valuemin="0" aria-valuemax="100" style="width:20%">
                  Java
              </div>
          </div>

          <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="50"
                  aria-valuemin="0" aria-valuemax="100" style="width:40%">
                  MySQL
              </div>
          </div>

          <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="50"
                  aria-valuemin="0" aria-valuemax="100" style="width:20%">
                  Java Web
              </div>
          </div>

          <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="50"
                  aria-valuemin="0" aria-valuemax="100" style="width:20%">
                  Spring Boot
              </div>
          </div>
      </div>            
  </div>

  <div class="tag fix space">
      <h2>Proyectos</h2>
      <div>
          <ul>
              <li type="none">
                  Este Porfolio App
              </li>
              <li type="none">
                <a href="https://github.com/Echo0005/portfolio-Estatico" target="_blank">Porfolio Estatico</a>
              </li>
          </ul>
      </div>
  </div>



  <footer>
      <p>
          <b>
              Λ <br>
              बाबा नाम केवलम
          </b>
      </p>
  </footer>
</section>